@use "../../styles/partials/variables/palette";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px;
  background-color: palette.$primary-accent;
  color: white;

  &__social_media {
    display: flex;
    gap: 5px;

    &__icon {
      height: 22px;
      border-radius: 6px;
      transition: 0.3s;

      &:hover {
        filter: brightness(1.5);
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__other_info {
    display: flex;
    gap: 30px;

    &__item {
      display: flex;
      align-items: center;
      gap: 5px;

      &__icon {
        width: 30px;
      }
    }
  }

  &__logo {
    width: 100px;
  }
}
