@use "../../styles/partials/variables/palette";

.showcase {
  display: flex;
  height: 600px;
  width: 100vw;

  &__img {
    position: relative;
    z-index: 0;
    width: 100%;
    object-fit: cover;
  }

  &__overlay {
    display: flex;
    align-items: flex-end;
    height: 600px;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(
      to right,
      palette.$primary-accent,
      rgba(0, 0, 0, 0)
    );

    &__content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 50px;
      width: 45%;

      &__heading {
        color: white;
        font-size: 64px;
      }
    }
  }
}
